<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head_page'); %>
</head>

<header>
  <% if(list.length > 0){ %>
  <%- include('./partials/header'); %>
  <% } %>
</header>

<body>
  <% if(list.length > 0){ %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-primary  text-center"><img class="link" src="link.gif" title="peacock" width="auto" /> Your last 101 activities</h1>
        <div class="well">
          <div class="jumbotron .bg-light.bg-gradient">
            <table class="table table-striped table-light">
              <thead class="thead-dark">
                <tr>
                  <th>Nr</th>
                  <th>Action name</th>
                  <th>Target title</th>
                  <th>Created at</th>
                  <th>Target type</th>
                </tr>
              </thead>
              <% for(var i=0; i < list.length; i++) { %>
                <tr>
                  <td>
                    <%= i+1 %>
                  </td>
                  <td>
                    <%= list[i].action_name %>
                  </td>
                  <td>
                    <%= list[i].target_title %>
                  </td>
                  <td>
                    <%= list[i].created_at %>
                  </td>
                  <td>
                    <%= list[i].target_type %>
                  </td>
                </tr>
                <% } %>
            </table>
            </br>
            <a class="btn btn-outline-primary" href="#top" role="button">Back to top</a>
          </div>
      
        </div>
      </div>
    </div>
  <% } else{ %>  
    <%- include('./error'); %>
 <% } %> 
</body>

</html>